<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.prototype.roomephone"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="17"
        android:targetSdkVersion="17" />

    <!-- Internet Permissions -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.roome.activities.AuthActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.roome.activities.RoomListActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_list_room" >
        </activity>
        <activity
            android:name="com.roome.activities.RoomDetailActivity"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:label="@string/title_activity_detail_room"
            android:theme="@style/RoomDetailTheme"
   			android:windowSoftInputMode="adjustPan" >
        </activity>

        <activity
            android:name="com.roome.activities.NewMeetingActivity"
            android:label="@string/title_activity_new_meeting" >
        </activity>

        <service android:name="com.roome.services.AuthService" />
        <service android:name="com.roome.services.RoomListService" />
        <service android:name="com.roome.services.RoomDetailService" />
        <service android:name="com.roome.services.NewMeetingService" />
        <service android:name="com.roome.services.MeetingListService" />
    </application>

</manifest>
